body {
    text-align: center;
    background-color: #3c6dc5;
    color: white;
    font-family: helvetica;
}

h1 {
    margin-top: 100px;
}

ul {
    display: inline-block;
    //cursor: move;
    text-align: left;
    width: 500px;
    max-width: 100%;
}

li {
    color: white;
}

//li:first-child {
//    font-size: 130%;
//    color: white;
//}

input[type='submit'] {
    background-color: red;
    border: 0;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
